.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.option-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 25px;
	padding: 5px;
}
.sort-container {
	margin: 0 20px;
}
.sort-option {
	width: 100%;
}
.list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 35px 5px;
	padding: 5px;
}

.list-item {
	padding: 20px;
	margin: 10px;
	width: 100%;
}

.button-add {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 35px;
}
.empty-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 5rem;
}
.title-empty {
	margin: 25px 0;
	text-align: center;
	font-size: 35px;
	font-weight: 500;
}
.button-add-empty-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
}
.button-add-empty {
	width: 250px;
	margin-top: 15px;
	border-radius: 25px;
}

/* @media only screen and (min-width: 1200px) {
	.list-item {
		width: 25%;
	}
} */

@media only screen and (min-width: 768px) {
	.list-item {
		width: 30%;
	}
	.option-container {
		flex-direction: row;
	}
	.sort-option {
		width: 100%;
		margin: 0;
	}
}
